[Unit]
Description=postgrey container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a postgrey
ExecStop=/usr/bin/docker stop postgrey

[Install]
WantedBy=default.target
