[Unit]
Description=lychee container
Requires=docker.service
After=docker.service

[Service]
Restart=always
ExecStart=/usr/bin/docker start -a lychee
ExecStop=/usr/bin/docker stop lychee

[Install]
WantedBy=default.target
